<mat-toolbar>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" >
    <div style="width: 90%;" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" >
      <img src="../../assets/avatar2.png">
      <h3>User
      </h3>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="18px" style="width: 10%">
      <i class="material-icons">
        donut_large
      </i>
      <i class="material-icons">
        sms
      </i>
      <i class="material-icons">
        more_vert
      </i>
    </div>
  </div>

</mat-toolbar>
