<mat-toolbar>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="50px" style="width: 100%; padding: 0px auto;">
    <div style="width: 10%">
    <i class="material-icons">
      sentiment_satisfied
    </i>
    </div>
      <div style="width: 80%">
        <mat-form-field >
          <input matInput placeholder="Search or Start a new chat" >
        </mat-form-field>
      </div>

    <div style="width: 10%;">
      <i class="material-icons">
  keyboard_voice
</i>
  </div>
  </div>
</mat-toolbar>
