<mat-toolbar>
  <div fxLayout="row" fxLayoutAlign="center center"  fxLayoutGap="20px" style="width: 100%; padding: 0px auto;">
    <div style="width: 5%" fxLayout="row" fxLayoutAlign="center center">
    <mat-icon>
      sentiment_satisfied
    </mat-icon>
    </div>
      <div style="width: 80%">
          <input type="text" data-emojiable="true" placeholder="Type a Message">
      </div>

    <div style="width: 5%;" fxLayout="row" fxLayoutAlign="center center">
      <button mat-icon-button><mat-icon> keyboard_voice</mat-icon></button>
  </div>
  </div>
</mat-toolbar>
