<div class="recent-chats">
  <div fxLayout="row" fxLayoutAlign="start center"  fxLayoutGap="50px" style="margin-left: 20px">
  <img src="../../assets/avatar2.png">
  <p>user 1</p>
  </div>
</div>
<div class="recent-chats">
  <div fxLayout="row" fxLayoutAlign="start center"  fxLayoutGap="50px" style="margin-left: 20px">
    <img src="../../assets/avatar2.png">
    <p>user 1</p>
  </div>
</div>
<div class="recent-chats">
  <div fxLayout="row" fxLayoutAlign="start center"  fxLayoutGap="50px"style="margin-left: 20px">
    <img src="../../assets/avatar2.png">
    <p>user 1</p>
  </div>
</div>
<div class="recent-chats">
  <div fxLayout="row" fxLayoutAlign="start center"  fxLayoutGap="50px"style="margin-left: 20px">
    <img src="../../assets/avatar2.png">
    <p>user 1</p>
  </div>
</div>
