
<div class="layer">
  <div align="center">
  <h1 style="font-size: 38px;padding: 40px;color: white;font-family: Ubuntu-Bold,serif;text-shadow: 2px 2px black">DIM-LIGHT LOGIN</h1>

    <mat-card style="width: 340px; height: 250px;padding: 10px;background-color:white;border-radius: 5px">


      <div  fxLayout="column"  fxLayoutGap="80px"  >
      <form [formGroup]="loginForm" >

        <div  fxLayout="row" fxLayoutAlign="start center "style="width: 100%">
          <div style="width: 10%;padding: 8px;padding-left: 0px"><mat-icon >email</mat-icon></div>
          <mat-form-field style="width: 80%" >
            <input matInput placeholder="Email" formControlName="myUsername">
            <mat-error>Email is invalid</mat-error>
          </mat-form-field>
        </div>
        <div  fxLayout="row" fxLayoutAlign="start center " style="width: 100%;padding-bottom: 10px">
          <div style="width: 10%;padding: 10px;padding-left: 0px">  <mat-icon>lock</mat-icon></div>
          <mat-form-field style="width: 80%">
            <input matInput placeholder="Password"  [formControl]="passwordControl" >
            <mat-error>Password is invalid</mat-error>
          </mat-form-field>   </div>
        <button mat-raised-button color="accent" style="align-self: flex-end;border-radius: 25px;font-family: Ubuntu-Bold,serif;padding:0px;" routerLink="/post" [disabled]="loginForm.invalid" >LOGIN</button>
      </form>
        </div>

    </mat-card>
  </div>
</div>



