.bg{
  background-color:#313E52;
  height: 100vh;
}
h1 {
  color: white;
}

button:hover {
  background-color: black;
  outline-color: white;
  color: white;
}

mat-card {
  padding: 20px;
  box-shadow: 5px 5px;
  border-radius: 5px;
  height: 250px;
  width: 300px;
}

mat-icon {
  color: black;
  padding: 0px;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
