<mat-toolbar>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" style="width: 100%">
    <div style="width: 80%">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <img src="../../assets/avatar2.png">
        <div fxLayout="column" fxLayoutAlign="space-between center">
      <h3>Group Name
      </h3>
      <p>members</p>
    </div>
      </div>
    </div>
    <div style="width: 20%" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="25px">
    <i class="material-icons">
      search
    </i>
    <i class="material-icons">
      attach_file
    </i>
    <i class="material-icons">
      more_vert
    </i>
  </div>
  </div>
</mat-toolbar>
