<mat-toolbar>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px" style="width: 100%">
    <div style="width: 80%">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <img src="../../assets/images/avatar2.png">
        <div fxLayout="column" fxLayoutAlign="space-between center">
      <h3>Group Name
      </h3>
      <p>members</p>
    </div>
      </div>
    </div>
    <div style="width: 20%" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="25px">

      <app-search-bar ></app-search-bar>


      <div class="dropdown">

        <button mat-icon-button class="dropbtn">

        <mat-icon>attach_files</mat-icon>
        </button>
        <div class="dropdown-content">
          <ul style="list-style-type:none">
         <li> <button mat-icon-button matTooltip=" Contact" matTooltipPosition="right"  ><img  src="../../assets/images/contacts.png" ></button></li>
            <li><button mat-icon-button matTooltip="Documents" matTooltipPosition="right"><img src="../../assets/images/documents.png"></button></li>
          <li><button mat-icon-button matTooltip="Gallery" matTooltipPosition="right"><img src="../../assets/images/gallery.png"></button></li>
          <li><button mat-icon-button matTooltip="Camera" matTooltipPosition="right"><img src="../../assets/images/images.png"></button></li>
          </ul>
        </div>
      </div>




      <button mat-icon-button [matMenuTriggerFor]="menu" >
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" [overlapTrigger]="false" >
        <button mat-menu-item >
          <span>Contact info</span>
        </button>
        <button mat-menu-item >

          <span>Select-Messages</span>
        </button>
        <button mat-menu-item >

          <span>Mute</span>
        </button>
        <button mat-menu-item >

          <span>Clear Message</span>
        </button>
        <button mat-menu-item >

          <span>Delete Chat</span>
        </button>


      </mat-menu>
    </div>
  </div>

</mat-toolbar>
