/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/*fonts */
@import 'https://fonts.googleapis.com/css?family=Krub';
@import 'https://fonts.googleapis.com/css?family=Dosis';
@import 'https://fonts.googleapis.com/css?family=Exo+2';
@import 'https://fonts.googleapis.com/css?family=KoHo:300';
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';

* {
  padding: 0;
  margin: 0;
  font-family: 'Krub', sans-serif;

}

p {
  font-family: 'Nunito', sans-serif;
}

.h3 {
  font-family: 'Nunito', sans-serif;
}

mat-icon {
  color: #757575;
  font-size: 18px;
}
.emoji {
  display: inline-block;
}

.mat-dialog-container {
  box-shadow: none !important;
  border: 1px solid #cccccc;
  padding: 15px;
  border-radius: 10px !important;

}

.btn {
  color: #616161;
  background-color: #F5F5F5;
  border-radius: 10px;
  padding: 8px;
  border: none;
  cursor: pointer;

}
